html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='A layout example with a side menu that hides on mobile, just like the Pure website.')
    title #{title}
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0/pure-min.css')
    link(rel='stylesheet', href='stylesheets/side-menu.css')
  body
    #layout
      //
         Menu toggle 
      a#menuLink.menu-link(href='#menu')
        //
           Hamburger icon 
        span
      #menu
        .pure-menu.pure-menu-open
          a.pure-menu-heading(href='/') #{title}
          ul
            li(class="#{page}" === "Tabs" ? "menu-item-divided pure-menu-selected" : "")
              a(href='/tabs') Tabs
            li
              a(href='#') Piece of cake
            li
              a(href='#') Let's try
            li
              a(href='#') Tough
            li
              a(href='#') Recommended
            li
              a(href='#') New Lesson
      #main
        .header
          h1 #{title}
          h2 A simple ukulele website
        block content

    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='javascripts/ui.js')